<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <base href="<%=locals.url%>">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
    <script src="public/js/jquery-3.6.0.min.js"></script>
    <script src="public/js/InputSpinner.js"></script>
    <title>宫颈癌筛查报告</title>
</head>
<style>
    input {
        font-size: 14px;
    }
</style>

<body style="margin: 0;padding: 0;">

    <div id="container" style="width: 100%;height: 100%;">
        <!--page 0 start-->
        <div id="page0" style="width: 99%;height: 1350px;border: 1px solid black;position: relative;">
            <div style="width: 90%;height: auto;margin: 0 auto;">
                <div style="width: 60%;height: 600px;position: absolute;margin-top: 150px;margin-left: 18%;">
                    <img src="public/img/hpv.png"
                        style="width: 100%;height: 900px;" />
                </div>
                <div style="width: 100%;height: 100px;position: absolute;">
                    <div style="width: 50%;height: 100px; float: left;">
                        <img src="public/img/bainuo-logo.png" width="100%"
                            height="40px" style="width: 100%;height: auto;">
                    </div>
                    <div style="width: 70%;height: 100px;float: left;"></div>
                </div>
                <div
                    style="width: 100%;height: 200px;margin-top: 500px;position: absolute; font-size: 70px;font-weight: 800;text-align: center;color:#d85629 ;">
                    <div style="width: 90%;height: 200px;">

                        人乳头瘤病毒 HPV-DNA
                        23 种分型检测报告</div>
                </div>
                <div style="width: 100%;height: 260px;position: absolute;margin-top: 1000px;">
                    <div style="width: 55%;height: 260px;float: left;"></div>
                    <div style="width: 35%;float: left; text-align: left;color: #595959;">
                        <p></p>
                        <p style="font-size: 22px;">深圳市南山区松坪山路1号</p>
                        <p style="font-size: 22px;">源兴科技大厦东座2层202室</p>
                        <p style="font-size: 22px;">Tel: +86-0755-86546563</p>
                    </div>
                    <div style="width: 10%;height: 260px;float: left;"></div>
                </div>
            </div>

        </div>
        <div style="width: 100%;height: 10px;"></div>
        <!--page 0 end-->
        <!-- page1 start -->
        <div id="page1" style="width: 99%;height: 1350px;overflow: hidden;border: 1px solid black;position: relative;">
            <div style="width: 100%;height: 120px;margin-top: 20px;margin-bottom: 20px;">
                <div
                    style="width: 70%;height: 120px;line-height: 120px;margin: 0 auto;color: #cc552c;border-radius: 50px; background-color:#f6fdf8;text-align: center;font-size: 40px;font-weight: 800;position: relative;">
                    认识导致宫颈癌的&nbsp;<img src="public/img/rep.png" width="120px"
                        height="100px" style="position: absolute;top: 20px;" />&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;杀手
                </div>
            </div>
            <div style="width: 100%;height: 30px;"></div>
            <div style="width: 100%;height: 240px;">
                <div style="width: 100%;height: 240px; background-color: #f6fdf8;margin: 0 auto;border-radius: 30px;">
                    <div
                        style="width:90%;height: 200px;padding: 20px;margin: 0 auto;font-size: 29px;line-height: 40px;">
                        HPV是人乳头瘤病毒的英文名缩写，它是一种DNA病毒。
                        HPV在人类皮肤和黏膜上能引起多种良性瘤或者疣（呈乳头
                        状）。HPV存在多种型别，其中HPV高危型别的感染具有潜
                        在的致癌性。该服务项目主要通过检测受检者样本中HPV病
                        毒的DNA，以帮助确认是否存在HPV病毒感染。
                    </div>
                </div>
            </div>
            <div style="width: 100%;height: 60px;"></div>
            <div style="width: 100%;height: 600px;z-index: 9;">
                <div
                    style="width: 100%;height: 600px;background-color: #f6fdf8;margin: 0 auto;border-radius: 50px;font-size: 24px;">
                    <div
                        style="width:90%;height: 560px;padding: 20px;margin: 0 auto;font-size: 29px;line-height: 40px;">
                        <div style="font-size: 36px;color:#cc552c;font-weight: 800;">临床应用及意义：</div>
                        <p></p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前，已经发现的HPV约有30多种型别，均可以感染人
                            类女性生殖道黏膜，其中一部分型别很容易导致宫颈癌，故
                            被称为高危型HPV。HPV16、18、31、33、35、39、45、
                            51、52、56、58、59、66及68型。
                        </p>
                        <p></p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从HPV感染发展为宫颈癌，一般需要经历数年至十年左
                            右的时间。早期筛查发现女性生殖道的高危型HPV感染进行
                            及时有效的治疗，将有助于清除持续感染，防止其向宫颈癌
                            演变，降低死亡率。
                        </p>
                        <p></p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            该服务项目可检测23种HPV基因型，其中包括十七种高
                            危型：16、18、31、33、35、39、45、51、52、53、56
                            、58、59、66、68、73、82；六种低危型：6、11、42、
                            43、81、83 。
                        </p>
                    </div>
                </div>
            </div>
            <div style="width: 100%;height: 400px;z-index: 0; position: absolute;top: 1000px;right: 2px;">
                <div style="width: 70%;height: 200px;float: left;"></div>
                <img src="public/img/rep2.jpg" width="200px" height="auto"
                    style="width: 30%;height: auto;float: right;" />
                <div style="width: 100%;height: 10px;overflow: hidden;"></div>
                <div style="width: 100%;height: 50px;">
                    <div style="width: 40%;height: 50px;float: left;">
                        <img src="public/img/bainuo-logo.png"
                            style="width: 35%;height: auto;text-align: left;">
                    </div>
                    <div style="width:50%;height: 50px;float: left;"></div>
                    <div
                        style="width: 10%;height: 50px;float: left;text-align: right;font-size: 16px;font-weight: 700; line-height: 50px;text-align: center;">
                        2</div>
                </div>
            </div>
        </div>
        <div style="width: 100%;height: 10px;"></div>

        <!-- page1 end -->
        <!-- page2 start -->
        <div id="page2" style="width: 99%;height: 1350px;overflow: hidden;border: 1px solid black;position: relative;">
            <div style="width: 100%;height: 30px;"></div>
            <div style="width: 100%;height: 450px;">
                <div
                    style="width: 90%;height: 360px; background-color: #f6fdf8;margin: 0 auto;border-radius: 50px;flex-direction: row;">
                    <div
                        style="width: 100%;font-size: 36px;font-weight: 700;color:#cc552c ;padding-top: 40px;padding-left: 40px;">
                        为什么宫颈癌的早期发现那么重要？</div>
                    <div style="width:70%;height: 320px;font-size: 29px;line-height: 40px;float: left;padding: 40px;">
                        宫颈癌是目前威胁女性健康的主要疾病，
                        在全世界范围内也是导致女性死亡的第二大癌
                        症。世界上平均每2分钟就有一位妇女死于宫
                        颈癌。我国宫颈癌阳性率很高，属于最严重的
                        肿瘤之一。发病年龄一般在40~60岁。
                    </div>
                    <div style="width: 20%;height: 320px;float: left;">
                        <img src="public/img/rep3.jpg" width="200px" height="320px"
                            style="width: 90%;height: auto;float: left;">
                    </div>
                </div>
            </div>
            <div style="width: 100%;height: 30px;"></div>
            <div style="width: 100%;height: 750px;overflow: hidden;">
                <div
                    style="width: 100%; font-size: 36px;color:#cc552c;font-weight: 800;text-align: center;height: 60px;line-height: 60px;">
                    检测适用人群</div>
                <div style="width: 100%;height: 660px;margin: 0 auto;border-radius: 30px;font-size: 24px;">
                    <div style="width:90%;height: 660px;padding: 20px;margin: 0 auto;">
                        <div style="width:100%;height: 70px;background-color: #f6fdf8;border-radius: 50px;">
                            <div style="width: 100%;height: 10px;"></div>
                            <div style="width:10%;height: 70px;float: left;"><img
                                    src="public/img/tick1.jpg"
                                    style="width: 49%;height: auto; margin-left: 20%;"> </div>
                            <div style="width: 86%;height: 70px;line-height: 40px;font-size: 26px;float: left;">
                                年龄超过21岁的女性，且性生活时间刚开始不超过三年者。</div>
                        </div>
                        <div style="width: 100%;height: 30px;"></div>

                        <div style="width:100%;height: 70px;background-color: #f6fdf8;border-radius: 50px;">
                            <div style="width:10%;height: 70px;float: left;"><img
                                    src="public/img/tick1.jpg"
                                    style="width: 49%;height: auto; margin-left: 20%;margin-top: 8px;"> </div>
                            <div style="width: 86%;height: 70px;line-height: 70px;font-size: 29px;float: left;">
                                拥有多个伴侣的女性。</div>
                        </div>
                        <div style="width: 100%;height: 20px;"></div>
                        <div style="width:100%;height: 70px;background-color: #f6fdf8;border-radius: 50px;">
                            <div style="width:10%;height: 70px;float: left;"><img
                                    src="public/img/tick1.jpg"
                                    style="width: 49%;height: auto; margin-left: 20%;margin-top: 8px;"> </div>
                            <div style="width: 86%;height: 70px;line-height: 70px;font-size: 29px;float: left;">
                                性生活开始过早的女性。</div>
                        </div>
                        <div style="width: 100%;height: 20px;"></div>
                        <div style="width:100%;height: 70px;background-color: #f6fdf8;border-radius: 50px;">
                            <div style="width:10%;height: 70px;float: left;"><img
                                    src="public/img/tick1.jpg"
                                    style="width: 49%;height: auto; margin-left: 20%;margin-top: 8px;"> </div>
                            <div style="width: 86%;height: 70px;line-height: 70px;font-size: 29px;float: left;">
                                拥有HIV/HPV病毒感染史的女性。</div>
                        </div>
                        <div style="width: 100%;height: 20px;"></div>
                        <div style="width:100%;height: 140px;background-color: #f6fdf8;border-radius: 50px;">
                            <div style="width: 100%;height: 20px;"></div>
                            <div style="width:10%;height: 140px;float: left;"><img
                                    src="public/img/tick1.jpg"
                                    style="width: 49%;height: auto; margin-left: 20%;margin-top: 20px;"> </div>
                            <div
                                style="width: 86%;height: 140px;line-height: 40px;font-size: 26px;float: left;margin-top: 20rpx;">
                                该HPV病毒筛查服务适合有性生活史的女性，每年需要定期
                                复查一次，三年复查没有问题者，之后可以隔两年检查一次。</div>
                        </div>
                    </div>
                </div>
                <div style="width: 100%;height: 10px;"></div>
            </div>
            <div style="width: 100%;height: 50px;">
                <div style="width: 40%;height: 50px;float: left;">
                    <img src="public/img/bainuo-logo.png"
                        style="width: 35%;height: auto;text-align: left;">
                </div>
                <div style="width:50%;height: 50px;float: left;"></div>
                <div
                    style="width: 10%;height: 50px;float: left;text-align: right;font-size: 16px;font-weight: 700; line-height: 50px;text-align: center;">
                    3</div>
            </div>
        </div>
        <div style="width: 100%;height: 10px;"></div>

        <!-- page2 end -->
        <!-- page3 start -->
        <div id="page3" style="width: 99%;height: 1350px;overflow: hidden;border: 1px solid black;">
            <div style="width: 100%;height: 80px;margin-top: 20px;margin-bottom: 20px;">
                <div
                    style="width: 70%;height: 80px;line-height: 80px;margin: 0 auto;color: #cc552c;border-radius: 50px; background-color:#f6fdf8;text-align: center;font-size: 36px;font-weight: 700;">
                    检测项目- 人乳头瘤病毒(HPV)检测</div>
            </div>
            <div style="width: 100%;">
                <div style="width: 100%;height: auto;margin: 0 auto;">
                    <div style="width: 98%;height: 220px;margin: 0 auto;">
                        <div
                            style="width: 100%;height: 60px;padding-left:10px;line-height: 60px;color: #cc552c;font-size: 26px;">
                            送检单位:</div>
                        <div style="flex-direction: row;width: 100%;height: 40px;background-color:#f6fdf8;">
                            <div style="width: 20%;height: 40px;float: left;line-height: 40px;">
                                <label style="padding-left: 10px;font-family:sans-serif;">姓名：</label><input id="patient"
                                    type="text" value="<%=data.Pat_Name%>"
                                    style="width: 60%;height: 30px;background-color: transparent;border: none;" />
                            </div>
                            <div style="width: 25%;height: 40px;float: left;line-height: 40px;">
                                <label>标本类型：</label><input id="sampletype" type="text" value="脱落细胞"
                                    style="width: 50%;height: 30px;background-color: transparent;border: none;" />
                            </div>
                            <div style="width: 30%;height: 40px;float: left;line-height: 40px;">
                                <label>门诊/住院号：</label><input id="hosid" type="text" value="<%=data.RptUnitName%>"
                                    style="width: 50%;height: 30px;background-color: transparent;border: none;" />
                            </div>
                            <div style="width: 25%;height: 40px;float: left;line-height: 40px;">
                                <label>采样日期: </label><input id="colldate" type="text" value="<%=data.SampleDate%>"
                                    style="width: 50%;height: 30px;background-color: transparent;border: none;" />
                            </div>
                        </div>
                        <div style="flex-direction: row;width: 100%;height: 40px;">
                            <div style="width: 20%;height: 40px;float: left;line-height: 40px;">
                                <label style="padding-left: 10px;">性别：</label>
                                <% if(data.Pat_Sex==1) {%>
                                    <input id="sex" type="text" value="男"
                                        style="width: 60%;height: 30px;background-color: transparent;border: none;" />
                                    <% } else {%>
                                        <input id="sex" type="text" value="女"
                                            style="width: 60%;height: 30px;background-color: transparent;border: none;" />
                                        <% } %>
                            </div>
                            <div style="width: 25%;height: 40px;float: left;line-height: 40px;">
                                <label>样本性状：</label><input onblur="updateval(this)" name="samplesta" id="samplesta"
                                    type="text" value=""
                                    style="width: 60%;height: 30px;background-color: transparent;border: none;" />
                            </div>
                            <div style="width: 30%;height: 40px;float: left;line-height: 40px;">
                                <label>科室/病区：</label><input type="text" value="<%=data.RptUnitID%>"
                                    style="width: 60%;height: 30px;background-color: transparent;border: none;" />
                            </div>
                            <div style="width: 25%;height: 40px;float: left;line-height: 40px;">
                                <label>接收日期: </label><input type="text" value="<%=data.Req_Dt%>"
                                    style="width: 60%;height: 30px;background-color: transparent;border: none;" />
                            </div>
                        </div>
                        <div
                            style="flex-direction: row;width: 100%;height: 40px;background-color: f6fdf8;background-color:#f6fdf8;">
                            <div style="width: 20%;height: 40px;float: left;line-height: 40px;">
                                <label style="padding-left: 10px;">年龄：</label><input type="text"
                                    value="<%=data.Pat_AgeStr%>"
                                    style="width: 60%;height: 30px;background-color: transparent;border: none;" />
                            </div>
                            <div style="width: 25%;height: 40px;float: left;line-height: 40px;">
                                <label>送检医生：</label><input onblur="updateval(this)" name='deliverdoc' id="deliverdoc"
                                    type="text" value=""
                                    style="width: 60%;height: 30px;background-color: transparent;border: none;" />
                            </div>
                            <div style="width: 55%;height: 40px;float: left;line-height: 40px;">
                                <label>联系电话：</label><input onblur="updateval(this)" id="deliverdoctel"
                                    name='deliverdoctel' type="tel" value=""
                                    style="width: 60%;height: 30px;background-color: transparent;border: none;" />
                            </div>
                        </div>
                        <div style="flex-direction: row;width: 100%;height: 40px;">
                            <div style="width: 45%;height: 40px;float: left;line-height: 40px;">
                                <label style="padding-left: 10px;">条码：</label><input id="barcode" type="text"
                                    value="<%=data.Barcode%>"
                                    style="width: 60%;height: 30px;background-color: transparent;border: none;" />
                            </div>
                            <div style="width: 55%;height: 40px;float: left;line-height: 40px;">
                                <label>样本编号：</label><input id="sampleno" type="text" value="<%=data.SampleNo%>"
                                    style="width: 60%;height: 30px;background-color: transparent;border: none;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 100%;height: 20px;"></div>
            <div style="width:100%;height: 100px;">
                <div style="width: 98%;height: 60px;line-height: 60px;margin: 0 auto;color: #cc552c;font-size: 26px;">
                    检测内容: </div>
                <div style="width: 98%;height: 60px;background-color:  #f6fdf8;margin: 0 auto;">
                    <div style="padding: 10px;">
                        <div>高危型HPV病毒亚型：16, 18, 31, 33, 35, 39, 45, 51, 52, 53, 56, 58, 59, 66, 68, 73, 82</div>
                        <div>低危型HPV病毒亚型：6, 11, 42, 43, 81, 83</div>
                    </div>
                </div>
            </div>
            <div style="width:100%;height: 100px;margin-top: 30px;">
                <div style="width: 98%;height: 60px;line-height: 60px;margin: 0 auto; color: #cc552c;font-size: 26px;;">
                    检测方法：<span style="font-size: 20px;color: #585858;font-weight: 600;">反向点杂交法</span></div>
            </div>
            <!-- 检测结果 start -->
            <div style="width:100%;height: 240px;">
                <div style="width: 98%;height: 60px;line-height: 60px;margin: 0 auto;color: #cc552c;font-size: 26px;">
                    检测结果:
                </div>
                <div id="hpvbox"
                    style="flex-direction: row;width: 95%;background-color: #f6fdf8; height: 40px;margin: 0 auto;">

                </div>
            </div>
            <!-- 检测结果 end -->
            <p></p>
            <div style="width:100%;height: 50px;line-height: 50px; overflow: hidden;padding-left: 10px;">
                备注：本检测结果仅对来样负责，供临床参考，如有疑问请于7 个工作日内与本单位联系。</div>

            <div style="width:100%;height: 100px;">
                <div
                    style="width: 98%;height: 60px;line-height: 60px;margin: 0 auto; font-size: 18px;color: #cc552c;font-size: 26px;">
                    结果分析及提示：</div>
                <div style="width: 98%;height: 240px;margin: 0 auto;border: none;border-radius: 15px;">
                    <div style="width: 100%;height: 200px;margin: 0 auto;">
                        <div name="result_analysis" id="result_analysis" style="width: 100%;height: 200px;padding: 20px; background-color: #f6fdf8;font-size: 18px;"></div>
                    </div>
                </div>
                <div style="width: 100%;height: 60px;">
                    <div style="width: 100%;height: 60px;margin: 0 auto;">
                        <div style="width: 25%;height: 40px;float: left;line-height: 40px;">
                            <label style="padding-left: 10px;">主检：</label><input id="maincheckusername" type="text"
                                value="<%=data.Report_Username%>"
                                style="width: 60%;height: 30px;background-color: transparent;border: none;text-align: center; border-bottom: 1px solid #000;" />
                        </div>
                        <div style="width: 30%;height: 40px;float: left;line-height: 40px;">
                            <label style="padding-left: 10px;">审核：</label><input id="checkusername" type="text"
                                value="<%=data.Rechk_Username%>"
                                style="width: 60%;height: 30px;background-color: transparent;border: none;text-align: center;border-bottom: 1px solid #000;" />
                        </div>
                        <div style="width: 35%;height: 40px;float: left;line-height: 40px;">
                            <label style="padding-left: 10px;">报告时间：</label><input id="uploadtime" type="text"
                                value="<%=data.Upload_Time%>"
                                style="width: 60%;height: 30px;background-color: transparent;border: none;text-align: center;border-bottom: 1px solid #000;" />
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 100%;height: 50px;overflow: hidden;margin-top: 296px;">
                <div style="width: 40%;height: 50px;float: left;">
                    <img src="public/img/bainuo-logo.png"
                        style="width: 35%;height: auto;text-align: left;">
                </div>
                <div style="width: 50%;height: 50px;float: left;">
                </div>
                <div
                    style="width: 10%;height: 50px;float: left;text-align: right;font-size: 16px;font-weight: 700; line-height: 50px;text-align: center;">
                    4</div>
            </div>
        </div>
        <div style="width: 100%;height: 10px;"></div>
        <!-- page3 end -->
        <!-- page4 start -->
        <div id="page4" style="width: 99%;height: 1350px;overflow: hidden;border: 1px solid black;position: relative;">
            <div style="width: 100%;height: 30px;"></div>
            <div style="width: 100%;height: 1050px;">
                <div style="width: 90%;height: 1200px; margin: 0 auto;border-radius: 50px;">
                    <div
                        style="width: 100%;font-size: 36px;font-weight: 700;color:#cc552c ;padding-top: 40px;padding-left: 40px;">
                        温馨提示：</div>
                    <div
                        style="width:90%;height: 150px;margin: 0 auto; font-size: 29px;line-height: 40px;padding-top: 40px;">
                        HPV疫苗可以激活我们的免疫系统，在体内形成抗体，
                        以抵抗HPV病毒的入侵。以HPV高危型别16型为例，科学
                        家发现疫苗接种者的免疫系统产生的抗体量是未接种感染者
                        体内抗体量的7.7倍。
                    </div>
                    <div
                        style="width:90%;height: 150px;margin: 0 auto; font-size: 29px;line-height: 40px;padding-top: 40px;">
                        现有的疫苗大多是针对高危型HPV研制的，并不能帮助
                        免疫于所有HPV病毒感染。例如二价疫苗只针对HPV病毒
                        的16型和18型两种高危型别，因此接种过该疫苗的女性也应
                        该定期检查生殖道的HPV感染。
                    </div>
                    <div
                        style="width:90%;height: 150px;margin: 0 auto; font-size: 29px;line-height: 40px;padding-top: 40px;">
                        HPV病毒可以通过接触传染。例如健康人接触到被HPV
                        病毒感染者污染过的物品可能导致感染。因此，大家日常应
                        该做好个人防护，避免到与他人的内衣、裤、毛巾等个人用
                        品混合使用与清洗。
                    </div>
                    <div
                        style="width:90%;height: 100px;margin: 0 auto; font-size: 29px;line-height: 40px;padding-top: 40px;">
                        对于HPV感染者使用过的毛巾、床单等物品，务必需要
                        煮沸且在太阳下暴晒消毒，才能有效切断传播途径。
                    </div>
                    <div
                        style="width:90%;height: 100px;margin: 0 auto; font-size: 29px;line-height: 40px;padding-top: 40px;">
                        使用公共坐便器前，务必进行消毒处理。如果条件允许，
                        推荐使用一次性马桶垫，或者卫生纸自制马桶坐垫。
                    </div>
                    <div
                        style="width:90%;height: 150px;margin: 0 auto; font-size: 29px;line-height: 40px;padding-top: 40px;">
                        其实，HPV感染比大家认知的要普遍，在一部分人的皮
                        肤中就可能存在HPV病毒。HPV病毒感染通常属于一过性
                        的，感染者自身免疫系统即可对其清除。所以大家也没有必
                        要对与HPV病毒恐惧，更不要抱着被HPV病毒感染就等同
                        于罹患宫颈癌的想法，自己吓自己。
                    </div>

                </div>
            </div>
            <div style="width: 100%;height: 30px;"></div>
            <div style="width: 100%;height: 50px;margin-top: 177px;">
                <div style="width: 40%;height: 50px;float: left;">
                    <img src="public/img/bainuo-logo.png"
                        style="width: 35%;height: auto;text-align: left;">
                </div>
                <div style="width:50%;height: 50px;float: left;"></div>
                <div
                    style="width: 10%;height: 50px;float: left;text-align: right;font-size: 16px;font-weight: 700; line-height: 50px;text-align: center;">
                    5</div>
            </div>
            <div style="width: 100%;height: 300px;position: absolute;bottom: 1px;left: 40%;">
                <img src="public/img/rep4.jpg"
                    style="width: 60%;height: auto;text-align: right;">
            </div>
        </div>


        <!-- footer 保存与生成pdf -->
        <div id="page-end" style="width: 100%;height: 16rem; margin: 0 auto;overflow: hidden;">
            <div style="text-align: center;display: block;margin: 3.125rem;">
                <input id="save" type="button"
                    style="width: 100%;height: 2.5rem; background-color: #1a88c7; line-height: 2.5rem;text-align: center;border-radius: 0.3rem; color: white;"
                    value="SAVE">
            </div>
            <div style="text-align: center;display: block;margin: 3.125rem;">
                <input id="generate_pdf" type="button"
                    style="width: 100%;height: 2.5rem; background-color: #1a88c7; line-height: 2.5rem;text-align: center;border-radius: 0.3rem; color: white;"
                    value="GENERATE PDF">
            </div>
        </div>
    </div>
    </div>
</body>
<script>
    $(function () {
        //post请求跟据barcode去查对一个的reportid去查result的结果数据并遍历到页面,
        let vals = {}
        vals.reportid = '<%=data.ReportID%>'
        vals.barcode = '<%=data.Barcode%>'
        $.post("admin/epihpv/inserval", vals, function (data) {
            console.info(data)
            hpvpositive="P"
            for (var i = 0; i < data.length; i++) {
                $("#hpvbox").append(
                    "<div style='width: 20%;height: 40px;float: left;line-height: 40px;background-color: #f6fdf8;'>" +
                    "<label style=height: 40px;line-height: 40px;'>" + data[i].HospRptItemName + "</label>: " +
                    "<text type='text' style='width: 55%;height: 30px;border: none;' >" + data[i].Result_Str + "</text> " +
                    "</div>")
               if(data[i].Result_Flag==hpvpositive){
                $("[id=result_analysis]").text(data[i].HospRptItemName+":"+data[i].Result_Str)
               }else{
                $("[id=result_analysis]").text("HPV"+data[0].Result_Ref)
               }
               
            }

        })
        //去查询数据库中的epihpvrep表，并把结果返回填充到页面
        $.post("admin/epihpv/inserinputval", vals, function (data) {
            $("[id=samplesta]").val(data.samplesta)
            $("[id=deliverdoc]").val(data.deliverdoc)
            $("[id=deliverdoctel]").val(data.deliverdoctel)
        })
    });


    //保存报告页面手动输入的几个数据
    $("input[id=save]").click(function () {
        $('input').attr('value', function () {
            return $(this).val();
        });
        var finalHtml = {}
        finalHtml.samplesta = $('#samplesta').val()
        finalHtml.deliverdoc = $('#deliverdoc').val()
        finalHtml.deliverdoctel = parseInt($('#deliverdoctel').val())
        finalHtml.barcode = '<%=data.Barcode%>'
        finalHtml.reportPage = "<html>" + $('html').html() + "</html>"
        console.info(finalHtml.barcode + finalHtml.deliverdoc + finalHtml.deliverdoctel)
        finalHtml.reportPage = "<html>" + $('html').html() + "</html>"
        $.post("/admin/saveHpvReport", finalHtml, function (data) {
            if (data == "success") alert("保存成功")

        })
    })
    //onblur()事件监听页面手动输入的几个值并获取数据，传到后台保存数据库，加载时再更新到报告页面值
    function updateval(obj) {
        let data = {}
        data.barcode = '<%=data.Barcode%>'
        data.col = $(obj).attr("name")
        data.val = $(obj).val()
        console.info(data)
        $.post("admin/epihpv/updateval", data, function (data) {
        })
    }


    $("input[id=generate_pdf]").click(function () {
        var pdf = {}
        pdf.barcode = '<%=data.Barcode%>'
        $.post("admin/epihpv/buildhpvpdf", pdf, function (data) {
            if (data == "success") alert("pdf generated success")
        })
    })
    // })
</script>

</html>