<!DOCTYPE html>
<html>

<head>
    <base href="<%=locals.url%>">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>细胞之星个人中心信息登记表</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" media="screen and (min-width:600px) and (max-width:1920px)" href="public/css/userformpc.css" />
    <link rel="stylesheet" media="screen and (min-width:320px) and (max-width:600px)" href="public/css/userformphone.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/public/css/userformpc.css" /> -->
    <script type="text/javascript" src="public/js/jquery-3.6.0.min.js"></script>
    <!-- <script type="text/javascript" src="public/js/getidinfo.js"></script> -->
    <script type="text/javascript" src="public/js/jquery.validate.min.js"></script>
</head>

<body>
    <div id="container">
        <div >
            <div id="title">细胞之星报告上传</div>
        </div>
            <div id="content">
                <p class="grey-line"></p>
                <div class="pwrap">
                    <form name="physicalform" method="post" action="admin/report/upload/physical" enctype="multipart/form-data">
                        &nbsp;&nbsp;<input type="file" name="file" name="physical" id="physical" style="display:none;" onChange="document.physicalform.path.value=this.value">
                        <input name="path" style="width: 250px;height: 28px;border:1px solid #95b8e7;border-radius: 5px;" readonly/>
                        <input type="button" class="easyui-linkbutton" style="padding: 5px 8px;" value="请选择.PDF体检报告" onclick="document.physicalform.physical.click()">
                        <input type="button" class="easyui-linkbutton" style="padding: 5px 8px;" id='uploadphysical' value="上传" />
                        <% if(report && report.physical){%>
                         <a href="<%=report.physical%>">查看</a>    
                        <%}%>
                    </form>
                </div>
                <script>
                    $("#uploadphysical").click(function () {
                       if($('#physical').val()){
                           let files = $('#physical').prop('files');
                           let data = new FormData();
                           data.append('phone', <%=phone%>)
                           data.append('file', files[0])
                           $.ajax({
                           type: 'POST',
                           url: "admin/report/upload/physical",
                           data: data,
                           cache: false,
                           processData: false,
                           contentType: false,
                           complete: function (ret) {
                               window.location.reload()
                           }
                       });
                   }
                   })
                   </script>
                <p class="grey-line"></p>
                <div class="pwrap">
                    <form name="immunityform" method="post" action="admin/report/upload/immunity" enctype="multipart/form-data">
                        &nbsp;&nbsp;<input type="file" name="file" name="immunity" id="immunity" style="display:none;" onChange="document.immunityform.path.value=this.value">
                        <input name="path" style="width: 250px;height: 28px;border:1px solid #95b8e7;border-radius: 5px;" readonly/>
                        <input type="button" class="easyui-linkbutton" style="padding: 5px 8px;" value="请选择.PDF免疫力评估" onclick="document.immunityform.immunity.click()">
                        <input type="button" class="easyui-linkbutton" style="padding: 5px 8px;" id='uploadimmunity' value="上传" />
                        <% if(report && report.immunity){%>
                            <a href="<%=report.immunity%>">查看</a>    
                        <%}%>
                    </form>
                </div>
                
                <p class="grey-line"></p>
                <div class="pwrap">
                    <form name="cellsaveform" method="post" action="admin/report/upload/cellsave" enctype="multipart/form-data">
                        &nbsp;&nbsp;<input type="file" name="file" name="cellsave" id="cellsave" style="display:none;" onChange="document.cellsaveform.path.value=this.value">
                        <input name="path" style="width: 250px;height: 28px;border:1px solid #95b8e7;border-radius: 5px;" readonly/>
                        <input type="button" class="easyui-linkbutton" style="padding: 5px 8px;" value="请选择.PDF细胞存储报告" onclick="document.cellsaveform.cellsave.click()">
                        <input type="button" class="easyui-linkbutton" style="padding: 5px 8px;" id='uploadcellsave' value="上传" />
                        <% if(report && report.cellsave){%>
                            <a href="<%=report.cellsave%>">查看</a>    
                        <%}%>
                    </form>
                </div>

                <script>
                    $("#uploadcellsave").click(function () {
                       if($('#cellsave').val()){
                           let files = $('#cellsave').prop('files');
                           let data = new FormData();
                           data.append('phone', <%=phone%>)
                           data.append('file', files[0])
                           $.ajax({
                           type: 'POST',
                           url: "admin/report/upload/cellsave",
                           data: data,
                           cache: false,
                           processData: false,
                           contentType: false,
                           complete: function (ret) {
                               window.location.reload()
                           }
                       });
                   }
                   })
                   </script>
                <p class="grey-line"></p>
                <div class="pwrap">
                    <form name="celltestform" method="post" action="admin/report/upload/celltest" enctype="multipart/form-data">
                        &nbsp;&nbsp;<input type="file" name="file" name="celltest" id="celltest" style="display:none;" onChange="document.celltestform.path.value=this.value">
                        <input name="path" style="width: 250px;height: 28px;border:1px solid #95b8e7;border-radius: 5px;" readonly/>
                        <input type="button" class="easyui-linkbutton" style="padding: 5px 8px;" value="请选择.PDF细胞质检报告" onclick="document.celltestform.celltest.click()">
                        <input type="button" class="easyui-linkbutton" style="padding: 5px 8px;" id='uploadcelltest' value="上传" />
                        <% if(report && report.celltest){%>
                            <a href="<%=report.celltest%>">查看</a>    
                        <%}%>
                    </form>
                </div>
                <script>
                    $("#uploadcelltest").click(function () {
                       if($('#celltest').val()){
                           let files = $('#celltest').prop('files');
                           let data = new FormData();
                           data.append('phone', <%=phone%>)
                           data.append('file', files[0])
                           $.ajax({
                           type: 'POST',
                           url: "admin/report/upload/celltest",
                           data: data,
                           cache: false,
                           processData: false,
                           contentType: false,
                           complete: function (ret) {
                               window.location.reload()
                           }
                       });
                   }
                   })
                   </script>
                <p class="grey-line"></p>
                <div class="pwrap">
                    <form name="inventoryform" method="post" action="admin/liver/upload/batch/excel/result" enctype="multipart/form-data">
                        &nbsp;&nbsp;<input type="file" name="file" name="inventory" id="inventory" style="display:none;" onChange="document.inventoryform.path.value=this.value">
                        <input name="path" style="width: 250px;height: 28px;border:1px solid #95b8e7;border-radius: 5px;" readonly/>
                        <input type="button" class="easyui-linkbutton" style="padding: 5px 8px;" value="请选择.PD省库查询报告" onclick="document.inventoryform.inventory.click()">
                        <input type="button" class="easyui-linkbutton" style="padding: 5px 8px;" id='uploadinventory' value="上传" />
                        <% if(report && report.inventory){%>
                            <a href="<%=report.inventory%>">查看</a>    
                        <%}%>
                    </form>
                </div>
                <script>
                    $("#uploadinventory").click(function () {
                       if($('#inventory').val()){
                           let files = $('#inventory').prop('files');
                           let data = new FormData();
                           data.append('phone', <%=phone%>)
                           data.append('file', files[0])
                           $.ajax({
                           type: 'POST',
                           url: "admin/report/upload/inventory",
                           data: data,
                           cache: false,
                           processData: false,
                           contentType: false,
                           complete: function (ret) {
                               window.location.reload()
                           }
                       });
                   }
                   })
                   </script>
                
        <!-- <script type="text/javascript" src="/public/js/validator_zh_liver.js"></script> -->
        

</body>

</html>