<!DOCTYPE html>
<html>

<head>
    <base href="<%=locals.url%>">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>细胞之星个人中心信息登记表</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" media="screen and (min-width:600px) and (max-width:1920px)" href="public/css/userformpc.css" />
    <link rel="stylesheet" media="screen and (min-width:320px) and (max-width:600px)" href="public/css/userformphone.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/public/css/userformpc.css" /> -->
    <script type="text/javascript" src="public/js/jquery-3.6.0.min.js"></script>
    <!-- <script type="text/javascript" src="public/js/getidinfo.js"></script> -->
    <script type="text/javascript" src="public/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://bainuo.beijingepidial.com/public/js/My97DatePicker/4.8/WdatePicker.js"></script>

</head>

<body>
    <div id="container">
        <div id="header">
            <div id="title">细胞之星个人中心信息登记表</div>
            <div id="title-sub1">(填表前请查看重要提示)</div>
            <div id="title-sub2">以下为客户信息，请认真填写</div>
        </div>
        <form class="userform" id="userform" name="userform" method="POST">
            <input type="hidden" whichOpenid="openid">
            <input type="hidden" whichid="dbid">
            <div id="content">
                <p class="grey-line"></p>
                <div class="pwrap">
                    <div class="wrap">
                        <label for="constractnum">合同编号:</label>
                        <input style="border: 1px solid #e0e0e0;" type="text" id="constractnum" name="constractnum" value="<%=usercenter.constractnum?usercenter.constractnum:''%>" placeholder="公司服务人员填写" required="required"></input>
                    </div>
                </div>
                <p class="grey-line"></p>
                <div class="pwrap">
                    <div class="wrap">
                        </span>客户姓名:</label>
                        <input style="border: 1px solid #e0e0e0;" type="text" id="clientname" name="clientname" value="<%=usercenter.clientname?usercenter.clientname:''%>" value placeholder="请输入" required="required"></input>
                    </div>
                </div>
                <p class="grey-line"></p>
                <div class="pwrap">
                    <div class="wrap">
                        <label>手机号码:</label>
                        <input style="border: 1px solid #e0e0e0;" type="text" id="phone" name="phone" value="<%=usercenter.phone?usercenter.phone:''%>" value placeholder="请输入" required="required"></input>
                    </div>
                </div>
                <p class="grey-line"></p>
                <div class="pwrap">
                    <div class="wrap">
                        <label>签约时间:</label>
                        <input style="border: 1px solid #e0e0e0;" type="text" id="signingtime" name="signingtime" value="<%=usercenter.signingtime?usercenter.signingtime:''%>" onClick="WdatePicker()" readonly="readonly"></input>
                        
                    </div>
                </div>
                <p class="grey-line"></p>
                <div class="pwrap">
                    <div class="wrap">
                        <label>储存年限:</label>
                        <select id="saveyear" style="margin-left: 500PX; height: auto;width: 80px;">
                            <option   <%=usercenter.saveyear?'':'selected'%> >请选择</option>
						    <option  <%=usercenter.saveyear=='1年'?'selected':''%>>1年</option>
                            <option   <%=usercenter.saveyear=='5年'?'selected':''%>>5年</option>
                            <option   <%=usercenter.saveyear=='10年'?'selected':''%>>10年</option>
                            <option   <%=usercenter.saveyear=='20年'?'selected':''%>>20年</option>
                         </select>
                        <!-- <input type="number" id="sex" name="sex" value placeholder="请输入" required="required"></input> -->
                    </div>
                </div>

                <p class="grey-line"></p>
                <div class="pwrap">
                    <div class="wrap">
                        </span>储存细胞:</label>
                        <input style="border: 1px solid #e0e0e0;" type="text" id="cell" name="cell" value="<%=usercenter.cell?usercenter.cell:''%>" placeholder="请输入" required="required"></input>
                    </div>
                </div>
                
                <p class="grey-line"></p>
                <div class="pwrap">
                    <div class="wrap">
                        <label>储存状态:</label>
                        <input style="border: 1px solid #e0e0e0;" type="text" id="savestatus" name="savestatus" value="<%=usercenter.savestatus?usercenter.savestatus:''%>" placeholder="请输入" required="required"></input>
                    </div>
                </div>
                <p class="grey-line"></p>
                <div class="pwrap">
                    <div class="wrap">
                        <label>储存地点:</label>
                        <input style="border: 1px solid #e0e0e0;" type="text" id="location" name="location" value="<%=usercenter.location?usercenter.location:''%>" placeholder="请输入" required="required"></input>
                    </div>
                </div>
                <p class="grey-line"></p>
                <div class="pwrap">
                    <div class="wrap">
                        <label>剩余年限:</label>
                        <input style="border: 1px solid #e0e0e0;" type="text" id="leftyear" name="leftyear" value="<%=usercenter.leftyear?usercenter.leftyear:''%>" required="required"></input>
                    </div>
                </div>
                
                
                <div style="width: 100%;height: 23px;"></div>
                <div style="text-align: center;">
                    <input id="submit" type="button" style="display: block;" value="提交">
                </div>
                <div style="width: 100%;height: 100px;"></div>
        </form>
        <!-- <script type="text/javascript" src="/public/js/validator_zh_liver.js"></script> -->
        <script>
         //日期倒计时
		$("#saveyear").change(function(event) {
        setInterval(function () {
        let startday=new Date($('#signingtime').val());  
        let end=new Date(startday);// 
         end.setFullYear(end.getFullYear()+parseInt($("#saveyear option:selected").val())); //将年限转换为日期
         end.setDate(end.getDate()-parseInt($("#saveyear option:selected").val())); 
        //  alert(d2)
		let endday=end
        let nowday = new Date();
         let time =endday.getTime() - nowday.getTime();
         let day = parseInt(time/(1000 * 3600 * 24))
        $('#leftyear').val(day)
              }, 1000);
		  })

       //提交数据
            $("#submit").click(function() {
                let oThis=$(this)
                $(this).attr('disabled', true)
                $(this).css('background-color', "#e0e0e0")
                let data = {}
                data.constractnum = $("#constractnum").val()
                data.clientname = $("#clientname").val()
                data.phone = $("#phone").val()
                data.signingtime = $("#signingtime").val()
                data.saveyear = $("#saveyear option:selected").val()
                data.cell = $("#cell").val()
                data.savestatus = $("#savestatus").val()
                data.location = $("#location").val()
                data.leftyear = $("#leftyear").val()
                console.info(data)
                $.post("admin/user/center/update", data, function(result) {
                    if(result=="success"){
                        alert("信息添加成功")
                        parent.window.location.reload();
                    }

                })

            })
        </script>

</body>

</html>